body {
  background-color: lightblue;
  font-family: 'Open Sans', sans-serif;
  margin-left: 30px;
}

h1 {
  color: navy;
  font-family: 'Roboto', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 10px;
  text-align: right;
  vertical-align: center;
  padding: 10px;
  border: 1px black;
}